<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/persistence
                      http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
	version="2.0">
	<persistence-unit name="sample-jpa-console-app"
		transaction-type="RESOURCE_LOCAL">
		<class>com.redhat.demo.imagegap.model.MovieEpisodeRequest</class>
		<class>com.redhat.demo.imagegap.modelMovieEpisodePoster</class>
		<properties>
			<property name="hibernate.dialect" value="org.hibernate.dialect.MySQLDialect" />
			<property name="hibernate.show_sql" value="true" />
			<!-- <property name="hibernate.hbm2ddl.auto" value="create" /> -->
			<property name="hibernate.connection.driver_class" value="com.mysql.jdbc.Driver" />
			<property name="hibernate.connection.url" value="jdbc:mysql://127.0.0.1:3306/bpms62" />
			<property name="hibernate.connection.username" value="bpmsDBA" />
			<property name="hibernate.connection.password" value="jboss123!" />
		</properties>
	</persistence-unit>
</persistence>
